/*
	----- COlORS -----
	Green: #57a157
	Green Border: #62aa62
	Red: #ae0e0e
	Red Border: #b62626
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

figure {
	margin: 0px;
	cursor: pointer;
}

figcaption {
	text-align: center;
	color: whitesmoke;
}

#stock-content {
	height: 100%;
	overflow-y: scroll;
}

.hidden {
	display: none;
}

.popup-wrapper {
	width: 348px;
	height: 334px;
	background-color: #212121;
}

.side-nav {
	height: 100%;
	width: 68px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	box-shadow: 0px 2px 2px #888888;
}

.input-field {
	position: absolute;
	height: 30px;
	bottom: 0px;
	left: 68px;
	width: 0px;
	background-color: #939393;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	outline: none;
	font-size: 20px;
	overflow: hidden;
	transition: all .3s ease;
}

.input-field.expanded {
	width: 280px;
	padding: 5px 10px;
}

.nav-item {
	height: 50%;
	display: flex;
	align-items: center;
}

.nav-icon {
	height: 58px;
	width: 58px;
	background-color: #939393;
	border-radius: 10px;
}

.active-icon {
	border: 2px solid whitesmoke;
}

.icon {
	width: 20px;
}


.action-wrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 68px;
	height: 30px;
	border-top: 1px solid #888888;
}

.action-icon {
	background-color: #939393;
	border-radius: 5px;
	position: absolute;
	bottom: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#content {
	height: 100%;
	width: 280px;
	float: left;
}


#loading-wrap {
	position: absolute;
	top: 80px;
	left: 10px;
	height: 58px;
	width: 58px;
}

.card {
	border-radius: 10px;
	height: 65px;
	width: 90%;
	margin: 20px auto;
	display: flex;
}

.stock-gain {
	border: 2px solid #62aa62;
	background-color: #57a157;
}

.stock-loss {
	border: 2px solid #b62626;
	background-color: #ae0e0e;
}

.stock-symbol {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
}

.stock-details {
	padding: 10px 0px;
	height: 100%;
	width: 50%;
	font-size: 20px;
}

.stock-detail {
	margin: 0px;
	height: 50%;
	width: 100%;
	text-align: center;
}

.currency-from {
	width: 40%;
	height: 100%;
	font-size: 20px;
	padding: 10px 0px;
	text-align: center;
}

.currency-to {
	width: 40%;
	height: 100%;
	font-size: 20px;
	padding: 10px 0px;
	text-align: center;
}

.currency-back {
	background-color: slategrey;
}

.compare-icon-wrapper {
	height: 100%;
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:30px;
}

/* Loader CSS taken from online
 * https://martinwolf.org/blog/2015/01/pure-css-savingloading-dots-animation
 */
.saving {
  font-size: 40px;
	color: white;
}

.saving span {
  font-size: 60px;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.saving span:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.saving span:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}