* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

nav {
	border-bottom: 2px solid #aeb4b7;
	padding: 5px 0px;
}

th {
	color: white;
}

td {
	text-align: center;
}

#content {
	height: 294px;
}

.active {
	text-decoration: underline;
}

.hidden {
	display: none;
}

.separator {
	height: 18px;
	width: 1px;
	display: inline-block;
	border-right: 2px solid #aeb4b7;
}

.popup-wrapper {
	width: 468px;
	height: 334px;
	background-color: #0d1316;
}

.nav-item {
	width: 49%;
	display: inline-block;
	text-align: center;
	color: #aeb4b7;
	font-size: 24px;
}

/* Common Stuff */
.full-width {
	width: 100%;
}

.action-button {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.action-table {
	background-color: white;
	border-radius: 3px;
}

.table-wrapper {
	overflow-y: scroll;
	height: 269px;
}

.table {
	width: 100%;
	padding: 10px;
}

/* Stock Content */
.loss-text {
	color: red;
}

.gain-text {
	color: green;
}

/* Loader CSS taken from online
 * https://martinwolf.org/blog/2015/01/pure-css-savingloading-dots-animation
 */
.saving {
  font-size: 40px;
	color: white;
}

.saving span {
  font-size: 60px;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.saving span:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.saving span:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}