* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

nav {
	border-bottom: 2px solid #aeb4b7;
	padding: 5px 0px;
}

th {
	color: white;
}

td {
	text-align: center;
}

#content {
	height: 294px;
}

.active {
	text-decoration: underline;
}

.hidden {
	display: none;
}

.separator {
	height: 18px;
	width: 1px;
	display: inline-block;
	border-right: 2px solid #aeb4b7;
}

.popup-wrapper {
	width: 468px;
	height: 334px;
	background-color: #0d1316;
}

.nav-item {
	width: 31%;
	display: inline-block;
	text-align: center;
	color: #aeb4b7;
	font-size: 24px;
}

/* Common Stuff */
.full-width {
	width: 100%;
}

.action-button {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.action-table {
	background-color: white;
	border-radius: 3px;
}

.table-wrapper {
	overflow-y: scroll;
	height: 269px;
}

.table {
	width: 100%;
	padding: 10px;
}

/* Stock Content */
.loss-text {
	color: red;
}

.gain-text {
	color: green;
}